body{
	background-color: #EDEDED;
	margin:0px;
	padding:0px;
}
#topo{
	height: 100px;
	background-color: #00CED1;
	padding-right: 15px;
}

#side{
	height: 500px;
}

#rodape{
	height: 150px;
	background-color: #DDD;
}

#conteudo-main{
	min-height: 800px;
}

#conteudo-main.col-xs-12{
	padding:0px;
}

#conteudo.col-xs-9{
	padding:0;	
}

#side.col-xs-3{
	padding:0 15px 0 0;	
}

#toolbar{
	width: 100%;
	height: 50px;
	background-color: #FFA500;
}

#boxes{
	width: 100%;
	padding: 10px;
	min-height: 500px;
}

#logo{
	float:left;
}
img{
	padding: 17px 40px;
}

#buscar{
	float: left;
	width: 400px;
	padding: 33px 0px;
}

#actions-right{
	padding: 30px 0px;
}

#actions-right span{
	font-size: 36px
}

#toolbar{
	padding: 8px 20px;
}
#toolbar span{
	font-size: 30px;
}
.panel-info>.panel-heading{
	background-color: #00CED1;
}
.panel-warning>.panel-heading{
	background-color: #FFA500;
}
.panel-body{
	padding: 0px;
}
ul{
	padding: 0;
	list-style-type:none;
}
ul li{
	padding: 10px 5px;
	float: left;
	width: 100%;
	height: 40px;
}
ul li a{
	width: 100%;
	color: #000;
}

ul li:hover{
	background-color: #00CED1;
}

ul li a:hover{
	text-decoration: none;
	color:#FFF;
}
.box{
	margin: 0 12px 10px 0px;
	width: 220px;
	height: 300px;
	float: left;
	background-color: #C39898;
}

.lista{
	margin: 0 12px 10px 0px;
	width: 220px;
	height: 300px;
	float: left;
	background-color: #8E0909;
}