<div id="side" class="col-xs-3">
	<div class="panel panel-warning">
		<div class="panel-heading">Categorias</div>
		<div class="panel-body">
			<ul>
				<li><a href="#">TUDO DE LIVROS</a></li>
				<li><a href="#">LANÇAMENTOS</a></li>
				<li><a href="#">LANÇAMENTOS INGLÊS</a></li>
				<li><a href="#">PRÉ VENDA</a></li>
				<li><a href="#">MAIS VENDIDOS</a></li>
				<li><a href="#">VOLTA ÀS AULAS</a></li>
				<li><a href="#">E-BOOKS</a></li>
				<li><a href="#">AUDIOLIVROS</a></li>
			</ul>
		</div>
	</div>
</div>